<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <mat-icon class="material-icons" aria-hidden="false" aria-label="icone" fontIcon="home"></mat-icon>
                inicio
            </a>
            <a mat-list-item routerLink="products">
                <mat-icon class="material-icons" aria-hidden="false" aria-label="icone" fontIcon="storefront">
                </mat-icon>
                produtos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-container class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-container>
    
</mat-sidenav-container>